---
import { Image } from '@astrojs/image/components';
const { src, alt } = Astro.props;
---

<div class="home-hero flex flex-col items-center">
	<div class="p-12 index-content">
		<div class="text-center text-box">
			<Image src={src} alt={alt} width={200} aspectRatio="1:1" />
			<div class="mt-8 text-4xl font-bold">Digital Brand Guide</div>
			<div class="mt-1 text-xl">Version 1.2</div>
		</div>
	</div>
	<div class="mt-8 p-12 content">
		<p>These guidelines explain the look and feel for the ParalympicsGB and the British Paralympic Association brand. It should enable you to create compelling, relevant and consistent communication through use of the logo, typography, colours, graphic elements, photography and our tone of voice.</p>
		<p>It’s important that we all stick closely to these guidelines. That way, we can make sure that the ParalympicsGB and British Paralympic Association has a clear, strong and consistent visual language that’s recognised both inside and outside the organisation.</p>
	</div>
</div>


<style lang="scss">
	.home-hero{
		min-height: 100vh;
		width:100%;
		align-items: center;
	}
	.pad{
		padding:4rem;
	}
	.spotty{
		align-items: center;
		background-image: url('/images/abstract-halftone.svg');
		background-size: auto 100%;
		background-position: right;
		background-repeat: no-repeat;
	}
	.text-box{
		display:block;
		width:100%;
	}
	.text {
		// font-size: 3rem;
		// font-weight: 900;
		color: var(--text-color-light);
	}
	.index-content{
		margin:0!important;
		width:100%;
	}
	img{
		display: inline-block;
		margin:0 auto;
	}
</style>